body {
    font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen-sans, ubuntu, cantarell, 'helvetica neue', 'arial', sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol';
}

.headerTitleWithLogo {
    display: none !important;
}

.fixedHeaderContainer {
    background: #fff;
    color: #1a5e87;
}

.fp_docs_player {
    height: 100%;
    width: 100%;
}

#page-not-found {
    padding: 45px 10px;
    width: auto;
}

#page-not-found h1, #page-not-found h2 {
    margin: 0;
    padding: 0;
    color: #3D9AD4;
}

#page-not-found h1 {
    font-weight: 500;
    margin-bottom: 0.2rem;
}

#page-not-found h2 {
    font-weight: 400;
    margin-bottom: 0.6rem;
}

#page-not-found-wrap {
    margin: auto;
    max-width: 600px;
}

#announce-wrapper {
    padding: 0.57143rem 1.14286rem;
    margin-bottom: 1rem;
    background: #dce5de;
    border: 1px solid #97b19d;
    border-radius: 2px;
    z-index: 9999;
}

#announce-inner {
    margin: auto;
}

#announce-inner-lead {
    font-weight: 500;
    color: #2e633a;
    display: block;
    font-size: 0.99rem;
}

#announce-inner-body {
    font-size: 0.92rem;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .fixedHeaderContainer {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .fixedHeaderContainer .navigationSlider .slidingNav ul li a {
        color: #3c4a50;
        background: #fff;
        font-weight: 500;
        font-size: 0.85rem;
    }

    .fixedHeaderContainer .navigationSlider .slidingNav ul li a:hover {
        color: #1a5e87;
        background: #fff;
    }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
